body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #777;
    background-color: #FAFAFA;
}

.logo {
    position: absolute;
    padding-top: 49px;
    height: 30%;
    width: auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white-bg {
    background-color: #FFF;
}

.gray-bg {
    background-color: #A3BAC3;
    color: white;
}

.blue-bg {
    background-color: #039BE5;
    color: white;
}

#map {
    height: 148px;
    width: 100%;
}

#team {
    width: 100%;
    /*text-align: center;*/
    padding-left: 50px;
    padding-right: 50px;
}

#about {
    padding: 30px;
}

.members {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../../img/mountain.png");
    height: 100vh;
}

.bgimg-2 {
    background-color: #f2f2f2;
    background-image: url("../../img/mirror.png");
    height: 70vh;
    z-index: -3;
}

.bgimg-3 {
    background-color: #039BE5;
    height: calc(100vh - 50px);
}

.baseimg-1 {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url("../../img/boy-alone.png");
    background-size: cover;
    background-position: center;
}

.baseimg-2 {
    position: absolute;
    height: 100vh;
    width: 100%;
    /*background-image: url("../../img/makeitrain/middle.png");*/
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.foreground {
    position: absolute;
    height: 100vh;
    width: 100%;
    /*background-image: url("../../img/makeitrain/top.png");*/
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.baseimg-3 {
    position: absolute;
    height: calc(100vh - 50px);
    width: 100%;
    background-image: url("../../img/toronto-no-bg.png");
    background-size: cover;
    background-position: center;
}

.positions {
    padding: 30px;
}

.android-icon {
    color: #00E676;
    padding: 10px
}

.ios-icon {
    padding: 10px
}

.frontend-icon {
    color: #039BE5;
    padding: 10px
}

.backend-icon {
    color: #F9A825;
    padding: 10px
}

.opacity-bg {
    background: rgba(255, 255, 255, 0.9)
}

#contact-form {
    padding-top: 30px;
    background-color: #039BE5;
}

#idea {
    margin-top: 30vh;
    color: black;
}

@media (min-width: 768px) {
    #section-1 {
        background-position: 15%;
        background-repeat: no-repeat;
        background-size: 25%;
        background-image: url('../../img/colorful.svg');
    }
    #section-2 {
        background-position: right;
        background-repeat: no-repeat;
        background-size: 50%;
        background-image: url('../../img/health.svg');
    }
    #section-3 {
        background-size: 18%;
        background-position: 15%;
        background-repeat: no-repeat;
        background-image: url('../../img/apple.svg');
    }
}

.about-sections {
    padding: 30px;
    color: black;
    background-color: white;
}

#snow {
    background: none;
    font-family: Androgyne;
    background-image: url('../../img/s1.png'), url('../../img/s2.png'), url('../../img/s3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 400px 1000px, 200px 400px, 100px 300px;
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-ms-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}


/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/


/********************************/


/*       Fade Bs-carousel       */


/********************************/

.fade-carousel {
    position: relative;
    height: calc(60vh);
    margin-bottom: 10px;
}

.fade-carousel .carousel-inner .item {
    height: calc(60vh);
}

.fade-carousel .carousel-indicators>li {
    margin: 0 2px;
    background-color: #fff;
    border-color: #fff;
    opacity: .3;
}

.fade-carousel .carousel-indicators>li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
}


/********************************/


/*          Hero Headers        */


/********************************/

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}


/********************************/


/*       Slides backgrounds     */


/********************************/

.fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3, .fade-carousel .slides .slide-4 {
    height: calc(100vh);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.fade-carousel .slides > img {
    margin: auto;
}
